<!DOCTYPE html>
{% extends 'adminlogin.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block mainadmin %}
    <h1 class="text-center fw-bold mt-5" style="color: DARKRED;">ADD NOTIFICATION</h1>
    <form action="{% url 'notisave' %}" method="post">
        {% csrf_token %}
        <div class="row border p-4 mt-5 shadow" style="background-color: white; margin-left: 50px; margin-right: 50px; border-radius: 20px;background-color: aliceblue;">
           <div class="col-md-12 text-start ">
            <h4 style="color: black;">Add Notification:</h4>
            <input type="text" name="notim" class="form-control" placeholder="Enter Text" style="height: 50px;">
           </div>
           <div class="col-md-12 mt-3">
            <button class="btn  w-100 " style="background-color: darkred; color:white">Add Notification</button>
           </div>
        </div>
    </form>
    <div class="col-md-12 mt-4" >
        <div class="card-body">
          <div class="text-center">
            <table class="table table-bordered shadow" style="background-color: aliceblue;" >
              <tr>
                <th style="background-color: darkred; color:white">Serial Number</th>
                <th style="background-color: darkred; color:white">Announcment</th>
                <th style="background-color: darkred; color:white">Announcment Date</th>
              </tr>
              {% for i in we %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.notim}}</td>
                <td>{{i.notidate}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    {% endblock %}
</body>
</html>